@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
.firstpage {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    // align-items: center;
    // justify-content: center;
    margin-top: 0;
    text-align: center;
    color: white;
    // padding: 20px;
    background: url('../../images/fpbg.png') no-repeat center center;
    background-size: cover; /* Ensures the image covers the whole section */
    position: relative;
    overflow: hidden;
  }
  
  .descriptionfp{
    height: 90%;
    width: 100%;
    // border: 1px solid blue;
    >.descLeft{
        height: 100%;
        width: 50%;
        box-sizing: border-box;
        // border: 1px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 10px 35px;
        >h1{
            font-size: 50px;
            padding: 0px;
            // border: 1PX solid red;
            font-family: "Space Grotesk", sans-serif;

        }
        >.btn{
            // border: 1px solid red;
            display: flex;
            box-sizing: border-box;
            padding: 10px 65px;
            >a{
                // border: 1px solid red;\
                text-decoration: none;
                display: flex;
                >button{
                    height: 35px ;
                    width: 120px ;
                    background-color: white;
                    color: black;
                    font-family: "Space Grotesk", sans-serif;
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
                    border: none;
                   
                }
                >button:hover{
                    transform: translateZ(-3px); 
                    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
                }
            }
        
        
        }
    }
  }