
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
.project{
    min-height: 100vh;
    width: 100%;
    background-color: black;
    color: white;
    box-sizing: border-box;
    padding: 45px 30px;
    display: flex;
flex-direction: column;
justify-content: space-between;
>.h1{
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 30%;
    height: 50px;
    border-radius: 50px;
    background-color: white;
    font-weight: 400;
    border: 1px solid white;
    padding-left: 80px;
    margin-bottom: 10px;
    >svg{
        font-size: 40px;
    }
    >h1{

        font-family: "Bowlby One", sans-serif;
        font-weight: 400; 
    }
    
}
}
.projectsimages{
    // border: 1px solid white;
    height: 75%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;

}

.card-sites{
    // border: 1px solid white;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;  
    flex-direction: column;
    >img{
     background-position: center;
     background-size: cover;
       height: 437px;
       width: 328px;
       overflow: hidden;
    //    border: 1px solid red;
    }
    >h1{
        font-weight: 400;
    }
}
@media (max-width: 480px) {
    .project{
        .h1{
            width: 70%;
            padding-left: 15px;
            // border: 1px solid red;
            // >h1{
            //     padding:10px 30px ;
            // }
        }
      
    }
.projectsimages{
    flex-direction: column;
    max-height: auto;
   
}
.card-sites{
    width: 80%;
    margin-bottom: 10px;
   
}  

}
