.footer{
    height: 50vh;
    width: 100%;
    background: url('../../images/footer.png') no-repeat center center;
    background-size: cover; 

    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:  white;
}  
.address{
    // border: 1px solid black;d
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.office-hours{
    // border: 1px solid black;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.contact{
    // border: 1px solid black;
    height: 100%;
    width: 25%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    >p{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // border: 1px solid white;
        display: flex;
        width: 70%;
        >svg{
            width: 20%;
            font-size: 20px;
            // border: 1px solid red;
        }
    }
   
}
h3{
    font-size:18px;
    font-weight: 500;
    margin-bottom: 15px;
}
p{
    font-family: "Space Grotesk", sans-serif;
    font-size: small;
}